@import "scss/base/variaveis";

html{
    font-family: $fonte-padrao;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 100%;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;

    a{
        text-decoration: none;
        color: #1A2333;
        transition: all 0.3s ease-in;
        &:hover{
            color:#4C638B;
        }
    }

    body.hidden{
        overflow: hidden;
    }
    
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background: #666;
    }
    &::-webkit-scrollbar-button {
        width: 6px;
        height: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 0px solid #fbf9e3;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #fbf9e3
    }
    &::-webkit-scrollbar-thumb:active {
        background: #808080;
    }
    &::-webkit-scrollbar-track {
        background: #666666;
        border: 0px none #fbf9e3;
        border-radius: 8px;
    }
    &::-webkit-scrollbar-track:hover {
        background: #666666;
    }
    &::-webkit-scrollbar-track:active {
        background: #333333;
    }
    &::-webkit-scrollbar-corner {
        background: rgba(0,0,0,0);
    }

}

body{
    background: $lightgray;
}

@media screen and (max-width: $mobile){
    main{
        margin-top: 60px;
    }
}

ul,ol{
    margin: 0;
    padding: 0;
}

a{
    &:hover{
        text-decoration: underline;
    }
}

@media screen and (max-width: $mobile){
    .hidden-xs{
        display: none !important;
    }
}
@media screen and (min-width: $mobile){
    .hidden-lg{
        display: none !important;
    }   
}

@font-face{
    font-family: fontAwesomeB;
    src: url("fonts/fa-brands-400.woff2");
}
@font-face{
    font-family: fontAwesomeR;
    src: url("fonts/fa-regular-400.woff2");
}
@font-face{
    font-family: fontAwesomeS;
    src: url("fonts/fa-solid-900.woff2");
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body{
        overflow-x: hidden;
    }
}

.svg{
    opacity: 0;
    &.on{
        opacity: 1;
    }
}