.container {
	margin: 0 auto;
	width: 100vw;
	display: flex;
	flex-direction: column;
	>.content,
	>.aside{
		width: 100%;
		box-sizing: border-box;
		padding: 20px;
	}
	@media screen and (min-width: $mobile){
		width: 1140px;
		flex-direction: row;
		justify-content: space-between;
		>.content{
			width: 690px;
			padding: 50px 0;
			&.escritorio{
				width: 570px;
			}
		}
		>.aside{
			width: 375px;
			margin-top: -50px;
			&.valores{
				width: 440px;
			}
		}
	}
}