// Cores

$black: #000000;
$white: #fff;

$lightgray: #F2F2F2;
$gray: #707070;
$graytitle: #F6F6F6;

$lightblue: #A7B3C8;
$blue: #4C638B;
$darkblue: #1A2333;

// Fontes
$fonte-padrao: 'Lato', sans-serif;
$fonte-secundaria: 'Raleway', sans-serif;

// Resoluções e Tamanhos fixos
$header: 60px;
$headerDesk: 90px;
$mobile: 1024px;
$full-hd: 1900px;
