.box{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 35px 20px;
    background: $white;
    width: 100%;
    margin-bottom: 35px;
    box-shadow: 0px 3px 6px #00000029;
    iframe{
        margin-top: 20px;
    }
    &.faca-parte{
        background: $blue;
    }

    @media screen and (min-width: $mobile){
        &.faca-parte{
            justify-content: center;
            align-items: center;
        }    
    }
}