.btn{
    width: 170px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $fonte-padrao;
    font-size: 18px;
    font-weight: 400;
    color: $white;
    text-transform: uppercase;
    background: $blue;
    transition: all 0.3s ease-in;
    border: none;
    cursor: pointer;
    &:hover{
        background: $darkblue;
        text-decoration: none;
        color: $white;
    }
}