.content{
    p{
        font-size: 16px;
        line-height: 18px;
        margin: 0 0 20px;
    }
    ul{
        margin: 0 0 30px 30px;
        list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 10 10"><circle fill="#1A2333" cx="7" cy="7" r="2"/></svg>');
        li{
            margin-bottom: 10px;
        }
    }
}
.aside{
    .box{
        p{
            font-size: 18px;
            line-height: 24px;
            margin: 0;
            color: $darkblue;
        }
        &.faca-parte{
            text-align: center;
            p,a{
                color: $white;
            }
        }
    }
}