.content{
    h1,h2,h3,h4,h5,h6{
        font-family: $fonte-secundaria;
        font-weight: 700;
        margin: 0 0 20px;
    }
    h2{
        font-size: 22px;
        line-height: 36px;
        color: $blue;
        margin: 20px 0;
    }
}


.titulo{
    font-family: $fonte-secundaria;
    color: $darkblue;
    font-weight: 900;
    position: relative;
    margin: 0;
    &.titulo-box{
        font-size: 28px;
        margin-bottom: 40px;
        padding-bottom: 10px;
        position: relative;
        text-transform: uppercase;
        &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 46px;
            background: $blue;
        }
        &.titulo-faca-parte{
            color: $white;
            &:after{
                left: calc(50% - 23px);
                background: $white;
            }
        }
    }
    &.header{
        font-size: 28px;
        line-height: 36px;
        color: $graytitle;
        text-align: center;
        text-shadow: 0px 3px 6px #00000029;
        letter-spacing: 0.8px;
    }
    &.titulo-valores{
        font-size: 18px;
        line-height: 22px;
        color: $blue;
    }
    &.titulo-frase{
        font-size: 24px;
        line-height: 36px;
        font-weight: 700;
        margin: 0;
    }
    &.titulo-fale-conosco{
        font-size: 28px;
        margin-bottom: 40px;
        padding-bottom: 10px;
        position: relative;
        text-transform: uppercase;
        font-weight: 900;
        &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 46px;
            background: $blue;
        }
    }
    &.titulo-home{
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
        text-align: left;
    }
    @media screen and (min-width: $mobile){
        &.header{
            font-size: 50px;
            line-height: 56px;
        }
        &.titulo-valores{
            font-size: 23px;
            line-height: 28px;
            
            color: $blue;
        }
    }
}