.content-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    section{
        width: 100%;
        .content-box{
            padding: 30px;
        }
        .figure{
            width: 100%;
            display: flex;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .box1, .box3{
        background: $blue;
        h2,p{
            color: $white;
        }
    }
    .box1{
        p{
            margin-bottom: 70px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .sliders{
        height: 100vh;
        position: relative;
        .tns-outer{
            position: relative;
        }
        .tns-nav{
            position: absolute;
            bottom: 85px;
            width: 100%;
            z-index: 2;
            display: flex;
            justify-content: center;
            button{
                width: 7px;
                height: 7px;
                background: $white;
                border-radius: 50%;
                outline: none;
                border: none;
                padding: 0;
                margin: 0 15px;
                &.tns-nav-active{
                    background: $darkblue;
                }
            }
        }
        .slide-content{
            height: 100vh;
            .slide{
            width: 100%;
            height: 100%;
            position: relative;
            .bg{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: -1;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .content-slide{
                position: absolute;
                width: 100%;
                box-sizing: border-box;
                padding: 0 30px;
                bottom: 120px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2,p{
                    color: $lightgray;
                    text-shadow: 0px 3px 6px #00000029;
                    text-align: center;
                }
                h2{
                    font-family: $fonte-secundaria;
                    font-size: 28px;
                    line-height: 36px;
                    font-weight: 900;
                    letter-spacing: 0.45px;
                }
                p{
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            }
        }
    }


    @media screen and (min-width: $mobile){
        flex-direction: row;
        .figure{
            img{
                filter: grayscale(1);
                transition: all 0.3s ease-in-out;
                &:hover{
                    filter: grayscale(0);
                }
            }
        }
        .sliders{
            width: 33%;
            background: $darkblue;
            height: auto;
            flex-direction: column;
            display: flex;
            .tns-nav{
                bottom: 50px;
            }
            .slide-content{
                .slide{
                .content-slide{
                    bottom: 90px;
                }
                }
            }    
        }
        .boxes{
            width:67%;
        }
        .box1, .box2{
            display: flex;
            flex-direction: row;
            width: 100%;
            .content-box,.figure{
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            .content-box{
                width: calc(50% - 60px);
            }
        }
        .box2{
            flex-direction: row-reverse;
        }
        .box3{
            background: $blue;
            display: flex;
            justify-content: center;
            flex-grow: 1;
            width: 100%;
            .content-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
    @media screen and (min-width: $full-hd){
        .sliders{
            .slide-content{
                .slide{
                .content-slide{
                    padding: 0 70px;
                    h2{
                        font-family: $fonte-secundaria;
                        font-size: 36px;
                        line-height: 44px;
                        font-weight: 900;
                        letter-spacing: 0.45px;
                    }
                    p{
                        font-size: 22px;
                        line-height: 28px;
                    }
                }
                }
            }
        }
    }
}