form.formContato{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    .content {
        transition: all 0.3s ease;
        max-width: 100vw;
        box-sizing: border-box;
        input, textarea, select{
            width: 100%;
            height: 45px;
            border: 1px solid $darkblue;
            margin-bottom: 13px;
            padding-left: 13px;
            box-sizing: border-box;
            background: $white;
            color: $gray;
            font-size: 14px;
            &::placeholder{
                font-size: 14px;
            }
            &:focus{
                outline: $blue;
            }
        }
        textarea{
            padding-top: 12px;
            height: 150px;
        }
    }
    @media screen and (min-width: $mobile){
        width: 100%;
        .content{
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            input,select{
                height: 56px;
            }
            .row{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                input,select{
                    width: calc(50% - 10px);
                }
            }
        }
    }
}
