.breadcrumb{
    .container{
        justify-content: center;
        .breadcrumbs {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            font-size: 14px;
            font-weight: 400;
            font-family: $fonte-padrao;
            height: 30px;
        
            li {
                float: left;
                color: $white;
                a {
                    text-decoration: none;
                    color:  $white;
                }
                &:after {
                    content: "/";
                    padding: 0 10px;
                    color:  $white;
                }
                &:nth-child(2){
                    a{
                        color: $white;
                    }
                }
                &:last-child {
                    font-weight: 700;
                } 
                &:last-child:after {
                    display: none;
                }
            }
        }
    }
}