.footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: $darkblue;
    color: $white;
    .infos{
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        margin-bottom: 30px;
        a{
            color: $white;
            transition: all 0.3s ease-in-out;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .social-copy{
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        .social-footer{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 10px 0;
            li{
                list-style: none;
                margin-left: 20px;
                a{
                    color: $white;
                    font-family: fontAwesomeB;
                    font-size: 22px;
                    transition: all 0.2s ease-in-out;
                    padding: 10px;
                    margin: 0;
                }
                &:first-child{
                    margin: 0;
                }
            }
        }
        p{
            font-size: 14px;
            font-weight: 400;
            text-align: right;
            margin: 0;
        }
    }
    @media screen and (min-width:$mobile){
        flex-direction: row;
        justify-content: space-between;
        .infos{
            margin: 0;
        }
        .social-copy{
            margin-top: 20px;
        }
    }
}