#header{
    height: $header;
    width: 100%;
    top: 0; 
    left: 0;
    position: fixed;
    background: $darkblue;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    font-family: $fonte-padrao;
    &:after{
        content: "";
        position: fixed;
        top: $header;
        left: 0;
        width: 100%;
        height: 10px;
        background: linear-gradient(to bottom, rgba(255,255,255,0.1), rgba(255,255,255,0));
    }
    >input{
        display: none;
    }
    >label[for="burguer-menu"]{
        height: 100%;
        width: 60px;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        span{
            display: block;
            width: 28px;
            height: 3px;
            position: relative;
            background: $white;
            transition: all 0.3s ease-in-out;
            &:before, &:after{
                position: absolute;
                content: "";
                display: block;
                width: 28px;
                height: 3px;
                background: $white;
                transition: top 0.15s ease-in-out 0.12s, transform 0.12s ease-in-out;
            }
            &:before{
                top: -7px;
            }
            &:after{
                top: 7px;
                width: 20px;
                right: 0;
            }
            &:last-child{
                margin: 0;
            }
        }
    }
    >a.login{
        position: absolute;
        right: 65px;
        font-family: fontAwesomeS;
        color: $white;
        font-size: 20px;
        transition: all 0.2s ease-in-out;
        &:hover{
            color: $blue;
        }
    }
    .container{
        height: 100%;
        flex-direction: row;
        .logo{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 20px;
            a{
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                img{
                    height: auto;
                    width: 257px;
                }
            }
        }    
    }
    nav{
        position: fixed;
        height: calc(100vh - #{$header});
        width: 100%;
        right: 0;
        top: $header;
        visibility: hidden;
        .menu{
            height: 100%;
            width: 70%;
            right: -100%;
            position: fixed;
            background: $blue;
            transition: all 0.5s ease-in-out;
            padding-top: 30px;
            > a{
                box-sizing: border-box;
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                color: $white;
                font-family: $fonte-padrao;
                z-index: 1;
                font-weight: 800;
                font-size: 16px;
                white-space: nowrap;
                opacity: 0;
                padding-right: 20px;
            }
        }
        &:after{
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(202,202,202, 0.42);
            z-index: -1;
        } 
    }
    input#burguer-menu:checked ~ label[for="burguer-menu"] span{
        background: rgba(255,255,255,0);
        &:before{
            top: 0;
            transform: rotate(-45deg);
            transition: all 0.12s ease-in-out, transform 0.15s ease-in-out 0.12s, background 0.1s ease-in-out 0.12s;
        }
        &:after{
            top: 0;
            width: 28px;
            transform: rotate(45deg);
            transition: all 0.12s ease-in-out, transform 0.15s ease-in-out 0.12s, background 0.1s ease-in-out 0.12s;
        }
    }
    input#burguer-menu:checked ~ .container > nav{
        visibility: visible;
        .menu{
            right: 0;
            @for $i from 1 through 20{
                a:nth-child(#{$i}){
                    animation: entrada-esquerda-menu 0.3s ease-in-out #{$i * 0.1}s forwards;
                }
            }
        }
    }

    @media screen and (min-width: $mobile){
        transition: all 0.1s linear;
        height: $headerDesk;
        justify-content: flex-end;
        position: relative;
        &:after{
            top: $headerDesk;
            transition: all 0.1s linear;
            position: absolute;
        }
        .container{
            height: 100%;
            flex-direction: row;
            width: calc(100% - 60px);
            .logo{
                padding-left: 0;
                a{
                    img{
                        width: 283px;
                    }
                }
            }    
        }
        nav{
            height: calc(100vh - #{$headerDesk});
            top: $headerDesk;
            .menu{
                width: 300px;
            }
        }
    
        &.on{
            height: 60px;
            position: fixed;
            z-index: 3;
            animation: entrada-cima 0.4s linear;

            &::after{
                top: 60px;
            }
            nav{
                top: 60px;
            }
        }
    }
}