.header-page{
    position: relative;
    height: 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .bg{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media screen and (min-width: $mobile){
        height: 450px; 
    }
}

.frase{
    margin-bottom: 30px;
    h2{
        word-wrap: break-word;
        position: relative;
        padding-left: 30px;
        min-height: 72px;
        &:after{
            content: "";
            position: absolute;
            height: 255px;
            width: 4px;
            left: 0;
            bottom: 0;
            background: $darkblue;
        }
    }
    @media screen and (min-width: $mobile){
        margin-bottom: 70px;
    }
}