.valores{
    .valor{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .svg{
            margin-right: 30px;
            width: 59px;
            height: 59px;
        }
        &:not(:last-child){
            margin-bottom: 60px;
        }
    }
}